body {
    background-image: url('../assets/patinhas.jpg');
    background-size: cover;
    background-position: center;
}

.container-home {
    width: 70%;
    background-color: #FFF;
    margin: 40px auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    padding: 10px;
}

.container-home h1 {
    color: #802600;
    font-size: 24px;
    text-align: center;

}

.input-container {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    /*gap: 5px; abre um espacamento entre os itens*/
}

.input-container label {
    margin-bottom: 5px;
}

.input-container input,
textarea,
select {
    width: 100%;
    box-sizing: border-box;
    /*todos os css devem ter....evita que os elementos estourem*/
    height: 35px;
    border-radius: 8px;
    border: 1px solid #a9480b;
    font-size: 18px;
    outline-color: #802600;

}

.row-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}

.flex-45 {
    width: 45%;
}

.input-container textarea {
    height: auto;
    /*aqui precisa colocar separado a altura para que o rows funcione*/
}

.button-submit {
    width: 20%;
    padding: 5px;
    border-radius: 8px;
    color: #FFF;
    background-color: #802600;
    margin-top: 10px;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

/* .footer-app {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: #a9480b;
}

.footer-app p {
    text-align: center;
    color: #fff;
    font-size: 18x;
} */

@media (max-width: 800px) {
    /*recurso para mudar algo quando dimunui demais o tamanho da tela*/

    .row-form {
        flex-direction: column;
    }
}

/* css da tela de listagem */
.container-pets {
    display: flex;
    flex-wrap: wrap;
    /*esta dizendo que se não couber na tela não use scroll...joque pra baixo*/
    justify-content: space-evenly;
    gap: 10px;
    /*descola um elemento do outro */
}

.item-pet {

    background-color: #d49797;
    border-radius: 8px;
    padding: 10px;
    width: 200px;
    border: 1px solid #000;

    display: flex;
    flex-direction: column;
    /* justify-content: center; alinha as colunas */
    align-items: center;
    /*alinha a horizontal*/


}

.menu {
    height: 50px;

    background-color: #802600;
    display: flex;
    justify-content: space-between;


}

.menu a {
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}